
<!-- HERO -->
<section class="module module-parallax bg-light-30" data-background="<%= image_path 'bg/blog_wave_1920.jpg' %>">

  <!-- HERO TEXT -->
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mh-line-size-3 font-alt m-b-20">Блог</h1>
        <h5 class="mh-line-size-4 font-alt">Исследования разработчика</h5>
      </div>
    </div>

  </div>
  <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- BLOG MASONRY -->
<section class="module">

  <div class="container">

    <div id="posts-masonry" class="row posts-masonry">

      <!-- POST -->
      <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
        <div class="post">
          <div class="post-media">
            <a href="blog-single.html">
              <img src="assets/images/blog/blog-1.jpg" alt="">
            </a>
          </div>
          <div class="post-meta font-alt">
            By <a href="#">Mark Stone</a> / 23 November / 3 comm.
          </div>
          <div class="post-header">
            <h4 class="post-title font-alt">
              <a href="blog-single.html">The European languages are members</a>
            </h4>
          </div>
          <div class="post-entry">
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
          </div>
          <div class="post-more-link font-alt">
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /POST -->

      <!-- POST -->
      <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
        <div class="post">
          <div class="post-media">
            <a href="blog-single.html">
              <img src="assets/images/blog/blog-wide-1.jpg" alt="">
            </a>
          </div>
          <div class="post-meta font-alt">
            By <a href="#">Jammy</a> / 8 November / 0 comm.
          </div>
          <div class="post-header">
            <h4 class="post-title font-alt">
              <a href="blog-single.html">Everyone realizes why a new</a>
            </h4>
          </div>
          <div class="post-entry">
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
          </div>
          <div class="post-more-link font-alt">
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /POST -->

      <!-- POST -->
      <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
        <div class="post">
          <div class="post-media">
            <a href="blog-single.html">
              <img src="assets/images/blog/blog-3.jpg" alt="">
            </a>
          </div>
          <div class="post-meta font-alt">
            By <a href="#">Mark Stone</a> / 6 November / 2 comm.
          </div>
          <div class="post-header">
            <h4 class="post-title font-alt">
              <a href="blog-single.html">The new common language will be</a>
            </h4>
          </div>
          <div class="post-entry">
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
          </div>
          <div class="post-more-link font-alt">
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /POST -->

      <!-- POST -->
      <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
        <div class="post">
          <div class="post-media">
            <a href="blog-single.html">
              <img src="assets/images/blog/blog-wide-2.jpg" alt="">
            </a>
          </div>
          <div class="post-meta font-alt">
            By <a href="#">Andy</a> / 3 November / 32 comm.
          </div>
          <div class="post-header">
            <h4 class="post-title font-alt">
              <a href="blog-single.html">To an English person, it will</a>
            </h4>
          </div>
          <div class="post-entry">
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
          </div>
          <div class="post-more-link font-alt">
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /POST -->

      <!-- POST -->
      <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
        <div class="post">
          <div class="post-media">
            <a href="blog-single.html">
              <img src="assets/images/blog/blog-wide-3.jpg" alt="">
            </a>
          </div>
          <div class="post-meta font-alt">
            By <a href="#">Mark Stone</a> / 23 November / 3 comm.
          </div>
          <div class="post-header">
            <h4 class="post-title font-alt">
              <a href="blog-single.html">Their separate existence is a myth</a>
            </h4>
          </div>
          <div class="post-entry">
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
          </div>
          <div class="post-more-link font-alt">
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /POST -->

      <!-- POST -->
      <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
        <div class="post">
          <div class="post-media">
            <a href="blog-single.html">
              <img src="assets/images/blog/blog-5.jpg" alt="">
            </a>
          </div>
          <div class="post-meta font-alt">
            By <a href="#">Mark Stone</a> / 23 November / 3 comm.
          </div>
          <div class="post-header">
            <h4 class="post-title font-alt">
              <a href="blog-single.html">It will be as simple as Occidental</a>
            </h4>
          </div>
          <div class="post-entry">
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
          </div>
          <div class="post-more-link font-alt">
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /POST -->

    </div>

    <!-- PAGINATION -->
    <div class="row">

      <div class="col-sm-12 text-center m-t-60">
        <ul class="pagination font-alt">
          <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
      </div>

    </div>
    <!-- /PAGINATION -->

  </div>

</section>
<!-- /BLOG MASONRY -->